@{
	ViewBag.Link = "dividends vs. management fee monitor";
	ViewBag.Title = "Yesr Home";
}

@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				@Html.Action("YesrDetail")
			</hgroup>
		</div>
	</section>
}

<article>
	<h3>Dividends vs. Management Fees Monitor</h3>
    <div class='tableau-holder'>
        <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/viz_v1.js"></script><div class="tableauPlaceholder" style="width:604px; height:495px;"><noscript><a href="undefined"><img alt=" " src="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;YE&#47;YESRDividendsvsManagementFeesMonitor&#47;Dividendsvs_ManagementFeesMonitor&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" width="604" height="495" style="display:none;"><param name="host_url" value="http%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="YESRDividendsvsManagementFeesMonitor&#47;Dividendsvs_ManagementFeesMonitor" /><param name="tabs" value="no" /><param name="toolbar" value="no" /><param name="static_image" value="http:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;YE&#47;YESRDividendsvsManagementFeesMonitor&#47;Dividendsvs_ManagementFeesMonitor&#47;1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="yes" /></object></div><div style="width:604px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;"><div style="float:right; padding-right:8px;"><a href="http://www.tableausoftware.com/public?ref=http://public.tableausoftware.com/views/YESRDividendsvsManagementFeesMonitor/Dividendsvs_ManagementFeesMonitor" target="_blank">Powered by Tableau</a></div></div>
    </div>
</article>

<aside>
	<h3>Useful Links</h3>
	<ul>
		<li>@Html.ActionLink("View Member Benefits", "Benefits", "Home", new { area = "" }, null)</li>
		<li><a href="">Fill out an Online Enrollment Form</a></li>
		<li><a href="">Request a Personal Presentation</a></li>
		<li><a href="">Send us a Question</a></li>
	</ul>
	
</aside>
