@model Global.YESR.Web.Areas.Yesr.ViewModels.YesrDetailViewModel

@{
    ViewBag.Link = "details";
    ViewBag.Title = "Yesr Detail";
}

<h2>Yesr</h2>
<table>
    <tr>
        <td><b>Bonds: </b></td><td class='padded'>@Model.Stats.Bonds</td>  
        <td><b>Bonds Amount: </b></td><td class='padded'>@Model.Stats.BondsAmount</td>  
    </tr>
</table>

