@model Global.YESR.Web.Areas.Merchants.ViewModels.MerchantDetailViewModel

@{
	ViewBag.Link = "details";
	ViewBag.Title = "Merchant Detail";
}

<h2>@Model.Merchant.Name</h2>
<table>
    <tr>
      <td><b>Purchases :</b></td><td class='padded'>@Model.Stats.Purchases</td>  
      <td><b>Purchases Amount :</b></td><td class='padded'>@Model.Stats.PurchasesAmount</td>  
      <td><b>Cash Back Amount :</b></td><td class='padded'>@Model.Stats.CashBackAmount</td>  
    </tr>
</table>
